/* profile.css */



html {
  	background-color:white;
    width:100%;
  	height:auto;
}

body {
  background: none;
  color: #69707a;
  font-family: "Open Sans", Arial, sans-serif;
}

strong {
  color: #222324;
}


.progress-bar-html {
    background: #A1C969; /*-- Color of the bar --*/
    -webkit-animation: progress 2s 1 forwards;
    -moz-animation: progress 2s 1 forwards;
    -ms-animation: progress 2s 1 forwards;
    animation: progress 2s 1 forwards;
}

.progress-bar-css {
    background: #87CEFA; /*-- Color of the bar --*/
    -webkit-animation: progress 2s 1 forwards;
    -moz-animation: progress 2s 1 forwards;
    -ms-animation: progress 2s 1 forwards;
    animation: progress 2s 1 forwards;
}

.progress-bar-java {
    background: #FFA500; /*-- Color of the bar --*/
    -webkit-animation: progress 2s 1 forwards;
    -moz-animation: progress 2s 1 forwards;
    -ms-animation: progress 2s 1 forwards;
    animation: progress 2s 1 forwards;
}

.progress-bar-grumpiness {
    background: #F08080; /*-- Color of the bar --*/
    -webkit-animation: progress 2s 1 forwards;
    -moz-animation: progress 2s 1 forwards;
    -ms-animation: progress 2s 1 forwards;
    animation: progress 2s 1 forwards;
}

.navbar {
  background: #E16879;
}

.card {
  border-color:black;
}

