body{
	background-color:white;
	font:bold 12px/30px Georgia, serif;
}

h1{
	color:indianred;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: indianred;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.contact {
    background-color: indianred;
}

.home {
    background-color: indianred;
}

img {
    max-width: 50%;
    height: auto;
    border-style:solid;
    border-width:10px;
    border-color:white;
}

h3 {
    position: absolute;
    left: 660px;
    top: 160px;
    right:20px;
    font-family: "Aria Verdana", Sans-serif;
    font-size:10px;
}


